html {
  overflow: hidden;
}


body {
  margin: 0;
  top: 0;
  left: 0;
  outline: none;
  overflow: hidden;
}

#canvas {
  top: 0;
  left: 0;
  overflow: hidden;
  outline: none;
}

#toggle {
  position: absolute;
  top: 0;
  z-index: 10;
}

#loadingText {
  display: none;
}
