html {
  overflow: hidden;
}


body {
  margin: 0;
  top: 0;
  left: 0;
  outline: none;
  overflow: hidden;
}

#canvas {
  top: 0;
  left: 0;
  overflow: hidden;
  outline: none;
  background-color: black;
  transform: scale(1);
}

#toggle {
  position: absolute;
  top: 0;
  z-index: 10;
}

#fire {
  position: absolute;
  bottom: -45px;
  z-index: 10;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  right: 2em;
}
